/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global resets / tweaks */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
a {
  @apply text-gray-900 no-underline transition-colors hover:text-gray-700;
}
