/* src/app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global resets */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Use raw CSS here (NOT @apply) */
a {
  color: inherit;
  text-decoration: none;
}


